# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml

# Development
.env
.env.local
.env.*.local
var/
var/cache/*
var/log/*
vendor/

# IDE
.idea/
.vscode/
*.swp

# Tests & outils de qualité
tests/
phpunit.xml
phpunit.xml.dist
.phpunit.result.cache
.phpunit.cache/
phpstan.neon.dist
.php-cs-fixer.cache
.php-cs-fixer.dist.php

# Documentation
*.md
docs/

# CI/CD
.github/
.gitlab-ci.yml
