# Redirection vers la nouvelle structure Symfony avec le dossier public
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirection permanente vers le dossier public
    RewriteRule ^(.*)$ ../public/$1 [L,QSA,R=301]
</IfModule>

<IfModule !mod_rewrite.c>
    # Fallback si mod_rewrite n'est pas disponible
    DirectoryIndex app.php
    
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /app.php/
    </IfModule>
</IfModule>
